= render "shared/page_description",
  title: "従業員_有給休暇一覧画面",
  descriptions: [ \
    "#{@paid_leave_grant.granted_on}に付与された有給の使用状況です。",
  ]


= render partial: "shared/paid_leave_balances",locals: {paid_leave_grant: @paid_leave_grant}