table.table.table-hover
  thead.thead-default
    tr.text-center
      th style="width: 10%" = Attendance.human_attribute_name(:worked_on)
      th style="width: 5%" = "曜日"
      th style="width: 5%" = "種別"
      th style="width: 10%" = Attendance.human_attribute_name(:status)
      th style="width: 10%" = Attendance.human_attribute_name(:started_at)
      th style="width: 10%" = Attendance.human_attribute_name(:finished_at)
      th style="width: 10%" = Attendance.human_attribute_name(:break_started_at)
      th style="width: 10%" = Attendance.human_attribute_name(:break_finished_at)
      th style="width: 20%" = Attendance.human_attribute_name(:create_edit_request)

  tbody
    - selected_month.all_month.each do |date|
      - summary = daily_work_summary[date]
        if summary
          tr.align-middle.text-center
            td= summary.worked_on
            - if summary.worked_on.sunday? || summary.worked_on.saturday?
              td.text-danger= l summary.worked_on,format: "%a"
            - else
              td= l summary.worked_on,format: "%a"
      /
        td= row.is_work_scheduled
        td= I18n.t("enums.attendance.status.#{row.attendance_status}")
        td= row.started_at.present? ? (l row.started_at,format: :short_time) : ''
        td= row.finished_at.present? ? (l row.finished_at,format: :short_time) : ''
        td= row.break_started_at.present? ? (l row.break_started_at,format: :short_time) : ''
        td= row.break_finished_at.present? ? (l row.break_finished_at,format: :short_time) : ''
        - if row.edit_request_present?
          td= link_to '申請時刻を修正',edit_employee_attendance_attendance_edit_request_path(@employee,row.date),class: 'btn btn-secondary mr-3'
        - else
          td= link_to '時刻修正申請',new_employee_attendance_attendance_edit_request_path(@employee,row.date),class: 'btn btn-primary mr-3'
