= render "shared/page_description",
  title: "従業員_有給休暇一覧画面",
  descriptions: [ \
    "{@grant.granted_on}に付与された有給の使用状況です。",
  ]
- @grant.balances.each do |balance|
  table.table.table-hover
    thead.thead-default
      tr.text-center
        th style="width: 10%" = "開始日"
        th style="width: 10%" = "時間休にした時の単位時間"

    /tbody
      - @paid_leave_balance_id.each do |balance|
        tr.align-middle.text-center
          td= balance.effective_from
          td= balance.employee_rule.scheduled_work_minutes
          