= render "shared/page_description",
  title: "従業員_有給休暇一覧画面",
  descriptions: [ \
    "{@grant.granted_on}に付与された有給の使用状況です。",
  ]
- @grant.balances.each do |balance|
  table.table.table-hover
    thead.thead-default
      tr.text-center
        th style="width: 10%" = "付与日"
        th style="width: 10%" = "付与分数"
        th style="width: 10%" = "期限日"
        th style="width: 10%" = "詳細"

    tbody
      - @paid_leave_grants.each do |grant|
        tr.align-middle.text-center
          td= grant.granted_on
          td= grant.granted_minutes
          td= grant.expires_on
          td= link_to "詳細",paid_leave_grant_paid_leave_balances_path(grant)
          