= render "shared/page_description",
  title: "勤怠修正申請画面",
  descriptions: [ \
    "打刻時間を修正する申請を提出できます。",
    "あなたを管理しているユーザーによって申請の承認/却下が行われます。",
  ]

= render partial: 'form', locals: {employee: @employee,attendance: @attendance,edit_request: @edit_request}