= render "shared/page_description",
  title: "振替/休暇申請画面",
  descriptions: [ \
    "振替/休暇申請を提出できます。",
    "あなたを管理しているユーザー（上司）によって申請の承認/却下が行われます。",
  ]

= render partial: 'form', locals: {employee: @employee,exception_request: @exception_request}
