table.table.table-hover.table-bordered
  thead.thead-light
    tr.text-center
      th style="width: 20%" 20%
      th style="width: 60%" 60%
      th style="width: 20%" 20%
  tbody
    tr.text-center
      td 20%
      td
        canvas[data-controller="attendance-chart"]
      td 20%